<div>
  <h2>{{ movie?.title }}</h2>
  <div>
    <img class="poster-detail-img" [src]="movie?.posterImageUrl" alt="{{ movie?.title }} poster" />
  </div>
  <div>
    <p><strong>Director:</strong> {{ movie?.director }}</p>
    <p><strong>Año de lanzamiento:</strong> {{ movie?.releaseYear }}</p>
    <p><strong>Calificación:</strong> {{ movie?.rating }}</p>
    <p><strong>Género:</strong> {{ movie?.genre }}</p>
    <p><strong>Sinopsis:</strong> {{ movie?.description }}</p>
  </div>
  <div>
    <h3>Reparto:</h3>
    <app-actor-list [actors]="movie?.cast || []"></app-actor-list>
  </div>
</div>
